div.upload-image {
    background-color:#fff;
    border: 1px solid #ddd;
    display:inline-block;
    height: 40px;
    padding:3px 40px 3px 3px;
    position:relative;
    width: auto;
}

div.upload-image:hover {
    opacity:0.95;
}

div.upload-image input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor:pointer;
    position:absolute;
    left:0;
}

.uploadButton {
    background-color: #425F9C;
    border: none;
    color: #FFF;
    cursor:pointer;
    display: inline-block;
    height: 30px;
    margin-right:15px;
    width: auto;
    padding:0 20px;
    box-sizing: content-box;
}
.fileName {
    font-family: Arial;
    font-size:14px;
}

.upload-image + .uploadButton {
    height:40px;
}